<!DOCTYPE html>
<html>

<head>
    <title>Log In</title>


    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            // Use tokens for security
            var id_token = googleUser.getAuthResponse().id_token;
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            //sendToken(id_token)
            // sendName(profile.getName())
        }
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
        // send ID token to server- HTTPS POST request
        /* function sendToken(id_token) {
             fetch('/verify', {
                 method: 'POST',
                 headers: {
                     'Content-Type': 'application/x-www-form-urlencoded'
                 },
                 body: id_token,
             })
                 .then(response => response.json())
         }
        function sendName(name) {
            fetch('/home', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    Gname: name,
                }),
            })
                .then(response => response.json())
        } */
    </script>
</head>

<body>
    <h1> Login Page </h1>

    <a href="{{ url_for('home') }}"> Home</a>


</body>

</html>